.about {
  color: var(--colorRed);
  display: flex;
  flex-direction: column;
  padding-inline: 108px;
  margin-bottom: 50px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.paramsCollapse {
  padding-top: 30px;
}