.banner {
  position: relative;
  margin-top: 50px;
  height: 223px;
  color: #FFF;
  inset: 0;
  background: url("../Assets/BackgroundHome.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

.banner h1 {
  margin: auto;
}

.banner::before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: url("../Assets/BackgroundFilter.png");
  border-radius: 25px;
}

.banner h1 {
  display: flex;
  position: absolute;
  content: "";
  margin: 0;
  inset: 0;
  align-items: center;
  justify-content: center;
}



@media (max-width: 728px) {
  .banner h1 {
      font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .banner h1 {
      font-size: 1rem;
  }

  .banner {
    margin-top: 0px;
    height: 111px;
    border-radius: 10px;
  }

  .banner::before {
    border-radius: 10px;
  }
}