
.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.collapse__header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 28px;
  background-color: var(--colorRed);
  color: white;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
}

.collapse__header span {
  padding-right: auto;
}
/* affiche le contenu */
.visible {
  display: block;
}

/* cache le contenu */
.hidden {
  display: none;
}

.chevronValue img {
  width: 25px;
  height: 15px;
}

.description-content {
  position: relative;
  top: -10px;
  color: var(--colorRed);
  background-color: #f6f6f6;
  margin: 0;
  padding: 20px 10px 10px 10px;
  border-radius: 10px;
  z-index: -1;    /* passe la zone de contenu sous la zone de titre*/
}

.description-content-list {
  position: relative;
  top: -10px;
  margin: 0;
  color: var(--colorRed);
  background-color: #f6f6f6;
  margin: 0;
  padding: 20px 10px 10px 10px;
  border-radius: 10px;
  z-index: -1;    /* passe la zone de contenu sous la zone de titre*/
}

.equipement-content {
  margin: 0;
}