
.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.collapse__header {
  display: flex;
  justify-content: space-between;
  height: 28px;
  background-color: var(--colorRed);
  color: white;
  font-size: 18px;
  padding: 10px 0px 10px 20px;
  border-radius: 10px;
  margin-bottom: -10px;   /* pour décaler la description sous la barre de titre */
  align-items: center;
  cursor: pointer;
}

/* affiche le contenu */
.visible {
  display: visible;
}

/* cache le contenu */
.hidden {
  display: none;
}

.chevronValue {
  display: flex;
  padding-right: 20px;
}

.chevronValue img {
  width: 25px;
}

.description-content {
  background-color: #f6f6f6;
  margin: 0;
  padding: 20px 10px 10px 10px;
  border-radius: 10px;
  z-index: -1;    /* passe la zone de contenu sous la zone de titre*/
}