.fiche-logement {
  width: 30%;
  background-image: linear-gradient(180deg, #FF6060, #FF6060, #FF6060, #833131);
  border-radius: 10px;
  transition: 0.3s;
  min-width: 240px;
  margin-bottom: 20px;
}

.fiche-logement img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 268px;
  object-fit: cover;
}

.fiche-logement h3 {
  display: flex;
  height: 60px;
  font-size: 18px;
  line-height: 142.6%;
  margin: 0px 20px;
  align-items: center;
  overflow: hidden;  /* empêche le titre de sortir du bloc */
  color: white;
}

.fiche-logement:hover {
  box-shadow: 0px 0px 10px #473030;
  cursor: pointer;
}

.logements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #F7F7F7;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px 40px;
  gap: 30px
}

.logements a {
  text-decoration: none;
}


@media (max-width: 1096px) {
  .fiche-logement {
    width: 45%;
    min-width: 0px;
  }
}

@media (max-width: 768px) {
  .fiche-logement { width: 100%; }
}


@media (max-width: 660px) {
  .logements {
      background: #FFF;
      padding: 0px;
  }
}

@media (max-width: 400px) {
  .logements {
      margin-top: 20px;
      gap: 20px;
  }
  .fiche-logement {
    position: relative;
    width: 335px;
    height: 255px;
  }
  .fiche-logement h3 {
    height: 60px;
    margin: 0px 15px;
}

.fiche-logement img {
    height: 188px;
}
}