
.logements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #F7F7F7;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px 40px;
  gap: 30px
}

.logements a {
  text-decoration: none;
}




@media (max-width: 660px) {
  .logements {
      background: #FFF;
      padding: 0px;
  }
}

@media (max-width: 400px) {
  .logements {
      margin-top: 20px;
      gap: 20px;
  }
  .fiche-logement {
    position: relative;
    width: 335px;
    height: 255px;
  }
}