.shaping {
  display: flex;
  flex-direction: column;
  margin: 10px 100px;
  min-height: calc(100vh - 201px);
}


@media (max-width: 860px) {
  .shaping {
      margin-inline: 50px;
  }
}

@media (max-width: 660px) {
  .shaping {
      margin-inline: 30px;
  }
}

@media (max-width: 450px) {
  .shaping {
      margin-inline: 10px;
  }
}